* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#topTitle {
  font-family: "Creepster", cursive;
  color: rgb(179, 75, 179);
  font-size: 4rem;
  text-shadow: 4px 4px rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

li {
  list-style: none;
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-auto-columns: 200px;
}

.charImage {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  /* box-shadow: 0 8px 6px -6px black; */
}

.mainDiv {
  font-family: "Abel", sans-serif;
  font-size: 1.2rem;
  color: grey;
  padding-left: 10px;
 display: block;
}




.favourite, .delete {
  font-family: "Abel", sans-serif;
  font-size: 1.2rem;
  color: grey;
  padding-left: 10px;
 display: inline-block;
}

.favouriteCheckBox, .deleteFavouriteCheckBox {
  width: 25px;
  height: 25px;
  opacity: 25%;
}

.viewFavouriteButton{
  background-color: rgb(179, 75, 179);
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  /* padding: 15px 32px; */
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem
  margin-top: 15px
  cursor:pointer;
  display: block;
  margin-left: 10px;
  cursor:pointer;
}

#header {
  display: grid;
}

.topSearchBar {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 30.5%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
  justify-self: center;
  margin-bottom: 10px;
  text-align: center;
  border: none;
}

#footer{
    display: grid;
}

.moreButton {
    background-color: rgb(179, 75, 179);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2rem
    border-radius: 10px;
    margin-top: 15px
    cursor:pointer;
    margin-top: 30px;
}

.backButton {
  background-color: rgb(179, 75, 179);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem
  border-radius: 10px;
  margin-top: 15px
  cursor:pointer;
  margin-top: 5px;
}

.buttonContainer{


    text-align: center;
}

.buttonSearchBar {
   
    border: none;
    color: rgb(179, 75, 179);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    height: 35px;
    width: 15%;
    /* padding: 2px 23px 2px 30px; */
    outline: 0;
    background-color: #f5f5f5;
    justify-self: center;
    cursor:pointer;
    margin: 5px;
    text-transform: uppercase;
  }

  .buttonResetBar {
   
    border: none;
    color: rgb(179, 75, 179);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    height: 35px;
    width: 15%;
    /* padding: 2px 23px 2px 30px; */
    outline: 0;
    background-color: #f5f5f5;
    justify-self: center;
    cursor:pointer;
    margin: 5px;
    text-transform: uppercase;
  }